<div #editProfileModal class="modal" id="edit-profile-modal" tabindex="-1" aria-labelledby="edit-profile-modal-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-profile-modal-label">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="first-name" class="form-label">First Name
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('firstName')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <input type="text" class="form-control" id="first-name" required formControlName="firstName"
              [class.is-invalid]="form.get('firstName')?.invalid && form.get('firstName')?.touched">
          </div>
          <div class="mb-3">
            <label for="last-name" class="form-label">Last Name
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('lastName')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <input type="text" class="form-control" id="last-name" required formControlName="lastName"
              [class.is-invalid]="form.get('lastName')?.invalid && form.get('lastName')?.touched">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('email')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <input type="email" class="form-control" id="email" required formControlName="email"
              [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched">
          </div>
          <div class="mb-3">
            <label for="phone-number" class="form-label">Phone Number
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('phoneNumber')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <input type="tel" class="form-control" id="phone-number" required formControlName="phoneNumber"
              [class.is-invalid]="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('address')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <input type="text" class="form-control" id="address" required formControlName="address"
              [class.is-invalid]="form.get('address')?.invalid && form.get('address')?.touched">
          </div>
          <div class="mb-3">
            <label for="favorite-category" class="form-label">Favorite Category
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('favoriteCategory')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <select class="form-select" id="favorite-toy-category" formControlName="favoriteCategory">
              @for (category of getToyCategories(); track $index) {
                <option [value]="category">{{ category }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password
              <button class="btn btn-link p-0 text-reset" type="button" (click)="resetFieldValue('password')" data-bs-toggle="tooltip" data-bs-title="Reset field"><i class="bi bi-arrow-counterclockwise"></i></button>
            </label>
            <div class="input-group">
              <input [type]="showPassword() ? 'text' : 'password'" class="form-control" id="password"
              formControlName="password" aria-describedby="password-label"
              [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched">
              <button class="btn btn-outline-secondary" type="button" (click)="toggleShowPassword()">
                <i class="bi" [class]="showPassword() ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            <div id="password-label" class="form-text">Leave blank to keep current password</div>
            @if (form.get('password')?.hasError('minlength') && form.get('password')?.touched) {
            <ul>
              <li class="text-danger">Password must be at least 6 characters long</li>
            </ul>
            }
          </div>
          @if (form.get('password')?.value) {
          <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input [type]="showConfirmPassword() ? 'text' : 'password'" class="form-control" id="confirm-password" formControlName="confirmPassword"
                [class.is-invalid]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
              <button class="btn btn-outline-secondary" type="button" (click)="toggleShowConfirmPassword()">
                <i class="bi" [class]="showConfirmPassword() ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            @if (form.get('confirmPassword')?.hasError('passwordMismatch') && form.get('confirmPassword')?.touched) {
            <ul>
              <li class="text-danger">Passwords do not match</li>
            </ul>
            }
          </div>
          }
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button class="btn btn-outline-secondary" type="button" (click)="resetFieldValue()" data-bs-toggle="tooltip" data-bs-title="Reset all fields"><i class="bi bi-arrow-counterclockwise"></i></button>
          <div>
            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
